<div class="container row">
  <div class="col s2">
    <select class="choose_class" style="display: block;">
      <%= @supports.list_class.each do |class_item| %>
        <option value="<%= class_item.id %>"><%= class_item.name %></option>
      <% end %>
    </select>
  </div>
  <%= render "form_question" %>
</div>
