$teal: #009688;
$background-admin: #e3f2fd;
$white: #fff;

.admin-title {
  font-size: 30px;
}

.list-reports {
  .content-question {
    float: right;
  }

  .content-reports {
    color: $teal;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.manager-title {
  color: $teal;
  margin-bottom: 15px;
}

.admin-body {
  background-color: $background-admin;
}

.container-manager-reports {
  margin-bottom: 30px;
}

.list-users {
  background-color: $white;
}

.list-questions {
  background-color: $white;
}
