@import 'materialize';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$red: #f00;
$blue-light: #29b6f6;
// question page
.medal {
  margin-left: 5px;
  margin-right: 3px;

  img {
    height: 20px;
    width: auto;
  }
}

.question-footer {
  .add-comment {
    margin-top: 30px;
  }

  .report {
    text-align: right;

    a:hover {
      color: $red;
    }

    i {
      font-size: 16px;
    }

    span {
      font-size: 19px;
    }
  }

  .success-report {
    text-align: right;

    i {
      color: $red;
      font-size: 16px;
    }

    span {
      color: $red;
      font-size: 19px;
    }
  }
}

.container-question {
  .vote {
    font-size: 30px;
    max-width: 75px;
    text-align: center;
    width: 10%;

    i {
      font-size: 40px;
    }
  }
}

.container-answers {
  padding-left: 50px;
  padding-right: 10px;

  .vote {
    font-size: 22px;
    max-width: 75px;
    text-align: center;
    width: 10%;

    i {
      font-size: 30px;
    }
  }
}

.container-comments {
  .vote {
    font-size: 22px;

    i {
      font-size: 30px;
    }
  }
}

.btn-vote {
  background-color: $blue-light;
}

.noti-unvote {
  height: 30%;
  width: 30%;
}

.list-tag {
  margin-top: 10px;
}

.topic-title {
  h4 {
    padding-left: 65px;
  }
}
