$white: #fff;
$black: #000;

.page-body {
  min-height: 500px;
}

.avatar {
  .circle {
    height: 50px;
    vertical-align: middle;
    width: 50px;
  }
}

.margin-0 {
  margin: 0;
}

.group-count {
  strong {
    vertical-align: super;
  }
}

.space {
  margin-left: 5px;
  margin-right: 5px;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.header {
  position: fixed;
  z-index: 1;
}

.header-height {
  height: 84px;
}

.left-sitebar {
  color: $white;
  position: fixed;

  .card-panel {
    margin-bottom: 0;
    padding: 10px;
  }

  .card {
    margin-bottom: 0;
  }

  .list-subject {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x:scroll;
    height:180px;
  }

  .list-class {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x:scroll;
    height:110px;

    a {
      margin:10px;
    }
  }

  .list-tag {
    overflow-x:scroll;
    height:110px;
  }

  ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
  }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

.header {
  .avatar {
    .dropdown-button {
      height: 64px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 7px;
      }
    }
  }
}

.right-sitebar {
  .hot-user,
  .hot-question {
    .collection-item {
      min-height: inherit;
    }
  }

  .hot-question {
    p {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
}

.list-question {
  .avatar {
    margin-top: 10px;
  }
}

.margin-5 {
  margin: 0 -5px;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}
