$white: #fff;
$black: #000;
$orange: #ff7361;
$gray: #848991;
$blue: #2f3239;
$blue2: #474d5d;
$background-body: #f3f3f3;

html {
  background-color: $background-body;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}


.page-body {
  margin-top: 95px;
  min-height: 500px;
}

.avatar {
  .circle {
    height: 50px;
    vertical-align: middle;
    width: 50px;
  }
}

.margin-0 {
  margin: 0;
}

.group-count {
  strong {
    vertical-align: super;
  }
}

.space {
  margin-left: 5px;
  margin-right: 5px;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-height {
  height: 84px;
}

.header {
  .dropdown-button {
    height: 64px;

    img {
      border-radius: 50%;
      height: 50px;
      margin-top: 7px;
      width: 50px;
    }
  }
}

.right-sitebar {
  padding-top: 10px !important;

  .hot-user,
  .hot-question {
    .collection-item {
      min-height: inherit;
    }
  }

  .hot-question {
    p {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
}

.list-question {
  .avatar {
    margin-top: 10px;
  }
}

.margin-5 {
  margin: 0 -5px;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.list-question {
  .card {
    padding: 0 .75rem;
  }

  h2 {
    color: $blue2;
    font-size: 22px;
  }

  h2 a {
    color: $blue;
  }

  h2 a:hover {
    color: $orange;
  }

  p a {
    color: $gray;
    font-size: 13px;
  }

  .owner-question a {
    color: $orange;
    font-size: 18px;
  }
}
