$light-brown: #d7ccc8;
$light-gray: #eee;
$light-yellow: #fff9c4;
$black: #000;
$white: #fff;
$border-color: #dedede;
$title-color: #ff7361;
$hover: #2f3239;
$vote-color: #dfaa63;
$border-comment: #ddd;
$icon-vote-comment: #eee;
$content-icon-vote-comment: #666;
$date-comment: #999;
$background-user-stats: #eaeaeb;

.profile-nav {
  img {
    height: 30px;
    margin-top: 10px;
  }

  .user {
    float: right;
  }
}

.profile {
  .content {
    background: $white;
    border: 1px solid $border-color;
    box-shadow: 0 0 5px $border-color;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 20px;
  }

  h2 {
    border-bottom: 2px solid $border-color;
    color: $title-color;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;

    a {
      color: $title-color;
    }

    a:hover {
      color: $hover;
    }
  }

  .user-profile-img {
    border: 1px solid $border-color;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    padding: 2px;
    text-align: center;
    width: 95px;

    img {
      background: none;
      border-radius: 50%;
      display: block;
      height: 89px;
    }
  }

  .user-profile-img:hover {
    background-color: $title-color;
  }

  .about-user {
    margin: -12px;

    li {
      color: $hover;
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 5px;
      margin-left: 20px;
    }

    i {
      font-size: 14px;
      font-weight: bold;
      margin-right: 9px;
    }
  }

  .score {
    float: right;
    margin: -12px;
  }

  .user-stats {
    ul {
      border: 0;
      padding: 0;
    }

    li:nth-child(2n+1) {
      margin-right: 2%;
    }

    li {
      background-color: $background-user-stats;
      float: left;
      font-size: 14px;
      font-weight: bold;
      line-height: 25px;
      margin-bottom: 20px !important;
      padding: 10px !important;
      width: 48%;
    }

    .icon-stats {
      background-color: $hover;
      color: $white;
      font-size: 11.5px !important;
      height: 23px;
      line-height: 23px !important;
      margin-right: 9px;
      text-align: center;
      width: 23px;
    }

    a {
      color: $hover;
    }

    a:hover {
      color: $title-color;
    }
  }
}

.user-question {
  background: $white;
  margin: -20px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;

  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 18px;
    padding-right: 89px;

    a {
      color: $title-color;
    }

    a:hover {
      color: $hover;
    }
  }

  .question-mark {
    background-color: $title-color;
    bottom: inherit;
    color: $white;
    display: inline-block;
    font-size: 11px;
    padding: 4px 10px;
    position: absolute;
    right: 20px;
    top: 20px;

    i {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px;
    }
  }

  .question-bottom {
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .question-favorite {
    color: $vote-color;
    margin-bottom: 5px;
    margin-right: 10px;

    i {
      font-size: 14px;
      margin-right: 2px;
    }
  }

  .question-date {
    margin-bottom: 5px;
    margin-right: 10px;

    i {
      font-size: 16px;
      margin-right: 2px;
    }
  }

  .question-comment {
    margin-bottom: 5px;
    margin-right: 10px;

    i {
      font-size: 14px;
      margin-right: 2px;
    }
  }
}

.best-answers {
  ol {
    list-style: none;
  }
}

.comment-body {
  border-bottom: 1px solid $border-comment;

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  a {
    color: $title-color;
  }

  a:hover {
    color: $hover;
  }

  .vote-count {
    float: left;
    margin-right: 20px;

    i {
      background-color: $icon-vote-comment;
      color: $content-icon-vote-comment;
      font-size: 13px;
      height: 20px;
      line-height: 20px;
      margin-right: 5px;
      text-align: center;
      width: 20px;
    }
  }

  .comment-date {
    color: $date-comment;
    margin-right: 5px;

    i {
      font-size: 16px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      width: 20px;
    }
  }

  .content-comment {
    color: $content-icon-vote-comment;
    margin-bottom: 20px;
    margin-top: 20px;

    a {
      color: $content-icon-vote-comment;
    }

    i {
      font-size: 15px;
      margin-right: 5px;
    }
  }
}

.badges {
  table {
    width: 70%;
  }

  th,
  td {
    text-align: center;
  }

  .gold-medal {
    background-color: $light-yellow;
  }

  .silver-medal {
    background-color: $light-gray;
  }

  .bronze-medal {
    background-color: $light-brown;
  }
}

.questions-manager-profile,
.answers-manager-profile {
  margin-top: 20px;

  .tabs {
    overflow: hidden;
  }

  .right-side {
    float: right;
  }
}

.list-questions-profile {
  background: $white;
}

.list-answers-profile {
  background: $white;
  border: 1px solid $border-color;
  box-shadow: 0 0 5px $border-color;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px;
}
