$blue: #039be5;
$blue-light: #29b6f6;
$orange: #ff7361;
$white: #fff;
$cl-border: #dedede;
$cl-division: #e0e0e0;

.btn-add-answer {
  color: $blue;
  cursor: pointer;
}

.add-answer {
  display: none;
}


.btn-add-comment {
  color: $blue;
  cursor: pointer;
}

.add-comment {
  display: none;
}

.display-object {
  display: block;
}

.choose-class {
  display: block;
}

.single-question {
  background: $white;
  border: 1px solid $cl-border;
  box-shadow: 0 0 5px $cl-border;
  margin-top: 10px;
  padding: 0 20px;

  h2 {
    padding-right: 40px;
    position: relative;
  }

  .btn-report {
    font-size: 16px;
    position: absolute;
    right: 0;

    a {
      color: $white;
    }

    strong {
      background: $orange;
      padding: 6px;
    }

    i {
      font-size: 15px;
    }
  }

  .question-action {
    bottom: 4px;
    position: absolute;
    right: 90px;
  }
}

.container-comments .collection {
  border: 0;
  border-top: 1px solid $cl-division;
}

.btn-add-answer,
.buton-vote,
.btn-add-comment {
  background-color: $orange;
  color: $white;
  font-size: 14px;
  padding: 7px 15px;
  margin-right: 20px;
}

.display-vote {
  li {
    float: left;
  }
}

.display-vote-answer {
  li {
    float: left;
  }

  .action-vote {
    bottom: 0px;
  }
}

.action-vote {
  width: 200px;
  position: relative;
  bottom: 5px;

  li {
    float: left;

    input {
      background-color: #eee;
      color: #666;
      margin-left: 10px;
    }
  }

  .vote-point {
    margin-left: 10px;
  }

  .vote-up {
    input:hover {
      background-color: #338338;
      color: #fff;
    }
  }

  .vote-down:hover {
    input:hover {
      background-color: #990707;
      color: #fff;
    }
  }

  .btn-vote-up {
    background-color: #338338;
    color: #fff;
  }
  .btn-vote-down {
    background-color: #990707;
    color: #fff;
  }
}

.edit-answer,
.edit-comment {
  display: none;
}

.answer-item p {
  position: relative;

  .answer-action {
    display: none;
    position: absolute;
    right: 56px;
  }

  i {
    color: $orange;
  }
}

.answer-item:hover .answer-action {
  display: initial;
}

.comment-action {
  display: none;
  position: relative;
  top: 6px;

  i {
    color: $orange;
  }
}

.collection:hover .comment-action {
  display: initial;
}
