$color-highlight: #ff0;
$white: #fff;
$gray: #444;

.search-result {
  em {
    color: $color-highlight;
  }
}

.suggestions {
  margin: 30px;
}

.result-tag-search {
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-not-found {
  font-size: 20px;
}

.search-input {
  background-color: $white !important;
  border: 0 !important;
  box-shadow: none !important;
  color: $gray !important;
}
