$color-highlight: #ff0;

.search-result {
  em {
    color: $color-highlight;
  }
}

.suggestions {
  margin: 30px;
}

.result-tag-search {
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-not-found {
  font-size: 20px;
}
